

/* Bootstrap overwrite */

.panel-heading{
	position: relative;
}

/* ********************* */






/* Orden en la pagina */

.opaco{
	opacity: 0.5;
}

small{
	font-size: 0.7em;
	opacity: 0.5;
}

.mercado{
	opacity: 0.8;
}

/* ******************** */